{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static "../static/deps/css/styles.css" %}">
</head>
<body>
    <header class="header">
        <div class="header-left">
            <a href="{% url "main:index" %}" class="header-link">Главная</a>
            <a href="{% url "hotel_rooms:numbers" %}" class="header-link">Номера</a>
            <a href="#" class="header-link">Бронирование</a>
            <a href="#" class="header-link">Отзывы</a>
        </div>
    </header>
    <div class="container">
        <form action="{% url "user:login" %}" method="post">
            {% csrf_token %}
            {{form}}

            {% comment "" %}
            <h2>Login</h2>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            {% endcomment %}
            <button type="submit">Войти</button>
            
            <p><a href="{% url "users:registration" %}" class="have-account-btn">Нет аккаунта?</a></p>
        </form>
        
    </div>
    <footer class="py-4 bg-dark">
        <div class="footer">
            <p class="m-0 text-center text-white">Copyright &copy; SSTU 2024</p>
        </div>
</footer>
</body>
</html>