{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking</title>
    <link rel="stylesheet" href="{% static "../static/deps/css/booking.css" %}">
</head>

<body>
    <header class="header">
        <div class="header-left">
            <a href="{% url "main:index" %}" class="header-link">Главная</a>
            <a href="{% url "hotel_rooms:numbers" %}" class="header-link">Номера</a>
            <a href="{% url "booking:booking" %}" class="header-link">Бронирование</a>
            <a href="#" class="header-link">Отзывы</a>
        </div>
        <div class="header-right">
        {% if user.is_authenticated %}
            <a href="{% url 'users:logout' %}" class="header-link" >Выйти</a>
        {% else %}
            <a href="{% url "users:login" %}" class="header-link">Войти</a>
        {% endif %}
            
        </div>
    </header>
        <div class="container">
            <h2>Бронирование</h2>
            <form>
                <div class="form-group">
                    <label for="room">Комната</label>
                    <select id="room" name="room">
                        <option value="1">Standard </option>
                        <option value="2">Luxury Room</option>
                        <option value="3">Family Room</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="check-in">Check-in Date</label>
                    <input type="date" id="check-in" name="check_in">
                </div>
                <div class="form-group">
                    <label for="check-out">Check-out Date</label>
                    <input type="date" id="check-out" name="check_out">
                </div>
                <div class="form-group">
                    <label for="additional-services">Additional Services</label>
                    <select id="additional-services" name="additional_services" multiple>
                        <option value="1">Breakfast</option>
                        <option value="2">Airport Pickup</option>
                        <option value="3">Gym Access</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="button" onclick="alert('Booking functionality not implemented')">Book Now</button>
                </div>
            </form>
            <div class="form-group">
                <a href="additional_services.html">Additional Services</a>
            </div>
            <div class="form-group">
                <button onclick="calculatePrice()">Calculate Price</button>
            </div>
        </div>
        <script>
            function calculatePrice() {
                alert('Calculate price functionality not implemented');
            }
        </script>

    
</body>
</html>