{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel</title>
    <link rel="stylesheet" href="{% static "../static/deps/css/numberstyles.css" %}">
    <title>Hotel</title>
</head>
<body>
    <header class="header">
        <div class="header-left">
            <a href="{% url "main:index" %}" class="header-link">Главная</a>
            <a href="{% url "hotel_rooms:numbers" %}" class="header-link">Номера</a>
            <a href="#" class="header-link">Бронирование</a>
            <a href="#" class="header-link">Отзывы</a>
        </div>
        <div class="header-right">
        {% if user.is_authenticated %}
            <a href="{% url 'users:logout' %}" class="header-link" >Выйти</a>
        {% else %}
            <a href="{% url "users:login" %}" class="header-link">Войти</a>
        {% endif %}
        </div>
    </header>
<!-- Контент -->
    <div class="container">
        <div class="row mt-1">
            <div class="col-lg-10">
                    <!-- Контент на странице -->
                    
                        <h1>Гостиничные номера</h1>
                        {% for room in rooms %}
                        <div class="room">
                            <img src="{{ room.photo.url }}" alt="Фото номера {{ room.room_number }}" >
                            <h2>Номер {{ room.room_number }}</h2>
                            <p>Тип: {{ room.get_room_type_display }}</p>
                            <p>Вместимость: {{ room.room_capacity }}</p>
                            <p>Цена за ночь: {{ room.room_price }}</p>
                        </div>
                        {% endfor %}
                    
            </div>
        </div>
    </div>
</body>
</html>