body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('../images/main.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 100%;
}
.header {
    background-color: #333;
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.header-left {
    display: flex;
}

.header-link {
    color: #fff;
    text-decoration: none;
    margin-right: 30px;
}

.header-link:last-child {
    margin-right: 0;
}




.room-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.room {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    text-align: center;
}

.room img {
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
}

.room h2 {
    font-size: 1.5em;
    margin: 15px 0;
}

.room p {
    margin: 10px 0;
}